body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar-brand {
  font-weight: bold;
}

.hero {
  background: url('background.jpg') no-repeat center center/cover;
  color: white;
}

.hero img {
  border: 5px solid white;
}

#home-title {
  color: #333;
}

.software {
  max-width: 50px;
  max-height: 50px;
  margin: 0px 5px;
}

.softwareSM {
  max-width: 65px;
  max-height: 65px;
  margin: 0px 3px;
}

.softwareXS {
  max-width: 90px;
  max-height: 90px;
  margin: 0px 5px;
}

.section-title {
  margin-bottom: 40px;
  list-style: none;
}

.contacts {
  text-align: center;
}

.contact-list li {
  list-style: none;
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
}

.contact-list a {
  text-decoration: none;
  color: black;
}

.contact-list a:hover {
  color: rgb(49, 135, 249);
}

.contact-img {
  max-width: 30px;
  max-height: 30px;
  margin: -5px 10px auto -20px;
}

#linkedin {
  margin-left: 15px;
}

#gmail {
  margin-left: -9px;
}

#contact-button {
  color: white;
  margin-left: 13px;
  margin-top: 15px;
  padding: 10px 20px;
}

#projects .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact {
  background-color: #333;
}

footer {
  background-color: #222;
  color: #aaa;
}

.scroll-trigger {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-trigger.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
      padding: 2rem;
  }

  #about,
  #projects,
  #resume,
  #contact {
      padding: 1rem;
  }

}

@media (max-width: 991px) {
  .contacts h2, .contacts ul, .contacts li {
    text-align: left;
  }

  #linkedin {
    margin-left: 2px;
  }

  #gmail {
    margin-left: 2px;
  }

  #contact-button {
    margin-left: -16px;
  }
}